@charset "UTF-8";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/PTSansNarrow-Bold.woff2") format("woff2"), url("../../fonts/PTSansNarrow-Bold.woff") format("woff"), url("../../fonts/PTSansNarrow-Bold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/PTSansNarrow-Regular.woff2") format("woff2"), url("../../fonts/PTSansNarrow-Regular.woff") format("woff"), url("../../fonts/PTSansNarrow-Regular.ttf") format("truetype");
  font-display: swap;
}
.page {
  font-size: 18px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
}

.page__body {
  min-height: 100%;
  margin: 0;
  background-color: #f8f5f2;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid #E5DDD5;
  height: 50px;
  background-color: transparent;
}
@media (max-width: 767px) {
  .button {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .button {
    width: 160px;
  }
}
.button:hover, .button:focus {
  border: 1px solid #D5C9BD;
}
.button:active {
  background: #D5C9BD;
}
.button:active span {
  opacity: 0.3;
}

/* Фикс отображения элементов двух слайдерв и сохранения ими своей разметки */
.slider__item {
  display: none !important;
}
.slider__item_current {
  display: flex !important;
}

.slider__button {
  position: absolute;
  top: -1px;
  bottom: -1px;
  width: 50px;
  background-color: transparent;
}
@media (max-width: 767px) {
  .slider__button {
    display: none;
  }
}
.slider__button:hover {
  border: 1px solid #D5C9BD;
}
.slider__button:active {
  background: #D5C9BD;
}
.slider__button:active::after {
  opacity: 0.3;
}

.slider__button_prev {
  left: -50px;
  border: 1px solid #E5DDD5;
}
.slider__button_prev::after {
  content: url(../../images/ui-icons/left-arrow.svg);
}
@media (min-width: 1200px) {
  .slider__button_prev {
    left: -71px;
  }
}

.slider__button_next {
  right: -50px;
  border: 1px solid #E5DDD5;
}
.slider__button_next::after {
  content: url(../../images/ui-icons/right-arrow.svg);
}
@media (min-width: 1200px) {
  .slider__button_next {
    right: -71px;
  }
}

.slider__toggle {
  width: 8px;
  height: 8px;
  background-color: transparent;
  border: 1px solid #ffffff;
  transform: rotate(45deg);
}

.slider__toggle_current {
  background-color: #ffffff;
}

.slider__toggles {
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100px;
}

/*Выключение слайдера при разрешении от 768px*/
@media (min-width: 768px) {
  .advantages__item {
    display: flex !important;
  }
}
.page-header {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #242424;
  color: #ffffff;
}
@media (min-width: 768px) {
  .page-header {
    background-color: #000;
  }
}

.page-header__logo {
  height: 85px;
  text-align: center;
}
@media (min-width: 768px) {
  .page-header__logo {
    order: 2;
    height: 400px;
    background-color: #000000;
    background-image: url("../../../images/background-image/back-header.jpg");
    background-repeat: no-repeat;
    background-position: 50% -9px;
    background-size: cover;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .page-header__logo {
    background-image: url("../../../images/background-image/back-header@2x.jpg");
    background-size: 1338px auto;
  }
}
@media (min-width: 1200px) {
  .page-header__logo {
    height: 648px;
    background-image: url("../../images/background-image/back-desktop.png");
    background-position: 50% 0;
    background-size: cover;
  }
}

.page-header__logo img {
  width: 226px;
  height: 85px;
}
@media (min-width: 768px) {
  .page-header__logo img {
    display: block;
    width: 370px;
    height: auto;
    margin: 0 auto;
    margin-top: 40px;
  }
}
@media (min-width: 1200px) {
  .page-header__logo img {
    height: 153px;
    margin-top: 57px;
  }
}

@media (min-width: 768px) {
  .page-header__logo_no-index {
    height: 210px;
    background-position: 50% -110px;
  }
}
@media (min-width: 1200px) {
  .page-header__logo_no-index {
    height: 310px;
    background-position: 50% -65px;
    background-size: contain 0;
  }
}
.page-header__logo_no-index::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  width: 100vw;
  height: 35px;
  background-color: #f8f5f2;
  -webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%, 50% 100%);
          clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%, 50% 100%);
}

.main-navigation__list {
  list-style: none;
}
.main-navigation__list a {
  color: #ffffff;
}

@media (min-width: 768px) {
  .main-navigation__wrapper {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 128px);
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .main-navigation__wrapper {
    width: calc(100% - 240px);
  }
}

.main-navigation {
  position: relative;
  width: 100%;
  min-height: 51px;
  background-color: #826550;
}
@media (min-width: 768px) {
  .main-navigation {
    background-color: #000;
  }
}

.main-navigation__toggle {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
  height: 50px;
  background-color: #6A4D38;
  border: none;
  cursor: pointer;
  z-index: 2;
}
.main-navigation__toggle:hover, .main-navigation__toggle:active {
  background-color: #624530;
}
@media (min-width: 768px) {
  .main-navigation__toggle {
    display: none;
  }
}

.main-navigation_closed .main-navigation__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 17px;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
  box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
}

.main-navigation_closed .main-navigation__toggle:active::before {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3), 0 16px 0 0 rgba(255, 255, 255, 0.3);
}

.main-navigation_opened .main-navigation__toggle:active::before,
.main-navigation_opened .main-navigation__toggle:active::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.main-navigation_opened .main-navigation__toggle {
  top: 0;
  right: auto;
  left: 0;
}
.main-navigation_opened .main-navigation__toggle::after, .main-navigation_opened .main-navigation__toggle::before {
  content: "";
  position: absolute;
  left: 17px;
  top: 24px;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
}
.main-navigation_opened .main-navigation__toggle::before {
  transform: rotate(45deg);
}
.main-navigation_opened .main-navigation__toggle::after {
  transform: rotate(-45deg);
}

.site-list {
  font-weight: bold;
}
@media (min-width: 768px) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 570px;
    flex-grow: 1;
  }
}
@media (min-width: 1200px) {
  .site-list {
    width: 780px;
  }
}
.site-list a {
  position: relative;
  display: block;
  padding: 12px 21px;
  padding-bottom: 13px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #826550;
  border-top: 1px solid #886e5b;
  border-bottom: 1px solid #71543f;
}
.site-list a:hover {
  background-color: #755A46;
}
.site-list a:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #624530;
}
@media (min-width: 768px) {
  .site-list a {
    padding: 0;
    padding-top: 25px;
    padding-bottom: 23px;
    background: none;
    border: none;
  }
}
@media (min-width: 1200px) {
  .site-list a {
    padding-left: 31px;
    padding-right: 31px;
  }
}

@media (min-width: 768px) {
  .site-list__item {
    margin-right: 32px;
  }
  .site-list__item:last-child {
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  .site-list__item {
    margin-right: 0;
  }
}
@media (min-width: 768px) {
  .site-list__item_active {
    position: relative;
  }
  .site-list__item_active::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 3px;
    background-color: #826550;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .site-list__item_active::after {
    left: 31px;
    right: 31px;
  }
}

@media (min-width: 768px) {
  .site-list__item a:hover {
    color: #826550;
    background-color: #000000;
  }
  .site-list__item a:active {
    color: #ffffff;
    background-color: #000000;
    opacity: 0.3;
  }
}
@media (min-width: 1200px) {
  .site-list__item a:hover, .site-list__item a:focus {
    color: #000000;
    background-color: #ffffff;
    outline: none;
  }
  .site-list__item a:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    opacity: 1;
  }
}

@media (max-width: 767px) {
  .main-navigation_closed .site-list__item {
    display: none;
  }
  .main-navigation_closed .site-list__item_active {
    display: block;
  }
  .main-navigation_closed .site-list__item_active a {
    padding-left: 70px;
    padding-right: 70px;
    text-align: center;
  }
  .main-navigation_closed .user-list__login {
    display: none;
  }
  .main-navigation_opened .main-navigation__wrapper {
    position: absolute;
    top: 0;
    left: 70px;
    z-index: 10;
    width: calc(100% - 70px);
    min-height: 80vh;
    background-color: #6A4D38;
  }
  .main-navigation_opened .main-navigation__wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 7px;
    height: 100%;
    box-shadow: inset 4px 0 7px -2px rgba(0, 0, 0, 0.4);
  }
  .main-navigation_nojs .main-navigation_closed,
  .main-navigation_nojs .main-navigation_opened {
    display: none;
  }
  .main-navigation_nojs .main-navigation__toggle {
    display: none;
  }
  .main-navigation_nojs .main-navigation__wrapper {
    position: static;
    min-height: 0;
  }
  .main-navigation_nojs .site-list__item {
    display: block;
  }
  .main-navigation_nojs .site-list__item_active a {
    padding-right: 21px;
    padding-left: 21px;
    text-align: left;
  }
  .main-navigation_nojs .user-list__login {
    display: block;
  }
  .main-navigation_nojs .user-list__item {
    display: block;
    height: 51px;
    background-color: #6A4D38;
  }
}
.user-list {
  position: relative;
}
@media (min-width: 768px) {
  .user-list {
    width: 60px;
  }
}
@media (min-width: 1200px) {
  .user-list {
    width: 129px;
  }
}

.user-list__login {
  display: block;
  padding: 17px 21px;
  padding-left: 49px;
  font-weight: normal;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
}
@media (min-width: 768px) {
  .user-list__login {
    width: 60px;
    height: 70px;
  }
  .user-list__login span {
    position: absolute;
    opacity: 0;
  }
  .user-list__login:hover .user-list__login-icon {
    opacity: 1;
  }
  .user-list__login:hover .user-list__login-icon polygon {
    fill: #826550;
  }
  .user-list__login:active .user-list__login-icon {
    opacity: 0.3;
  }
  .user-list__login:active .user-list__login-icon polygon {
    fill: #ffffff;
  }
}
@media (min-width: 1200px) {
  .user-list__login {
    position: relative;
    width: auto;
    height: auto;
    padding: 25px 30px 23px 50px;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
  }
  .user-list__login span {
    position: static;
    opacity: 1;
  }
  .user-list__login:hover, .user-list__login:focus {
    color: #000000;
    outline: none;
    background-color: #ffffff;
  }
  .user-list__login:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
  }
  .user-list__login:hover .user-list__login-icon, .user-list__login:focus .user-list__login-icon {
    opacity: 0.3;
  }
  .user-list__login:hover .user-list__login-icon polygon, .user-list__login:focus .user-list__login-icon polygon {
    fill: #000000;
  }
  .user-list__login:active .user-list__login-icon {
    opacity: 0.1;
  }
}

.user-list__login-icon {
  position: absolute;
  top: 17px;
  left: 21px;
  width: 16px;
  height: 16px;
  opacity: 0.3;
  fill: #ffffff;
}
@media (min-width: 768px) {
  .user-list__login-icon {
    top: 28px;
    left: 12px;
  }
}

.stats {
  background-color: #292929;
  color: #ffffff;
}
@media (min-width: 768px) {
  .stats {
    background-color: #353535;
  }
}

@media (min-width: 768px) {
  .stats__wrapper {
    position: relative;
    width: calc(100% - 128px);
    margin: 0 auto;
    top: -175px;
    margin-bottom: -175px;
  }
}
@media (min-width: 1200px) {
  .stats__wrapper {
    top: -169px;
    margin: 0 auto;
    margin-bottom: -169px;
    width: calc(100% - 240px);
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}

.stats__header {
  background-color: #ffffff;
  color: #000000;
  padding: 28px 20px;
}
@media (min-width: 768px) {
  .stats__header {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 32px;
    padding-right: 34px;
    padding-left: 34px;
    padding-bottom: 30px;
  }
  .stats__header::before {
    content: "";
    position: absolute;
    left: -23px;
    top: 42px;
    width: 23px;
    height: 23px;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjMiIGhlaWdodD0iMjMiIHZpZXdCb3g9IjAgMCAyMyAyMyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTAgMEgyM1YyM0wxMS41IDExLjVMMCAwWiIgZmlsbD0id2hpdGUiLz4KPC9zdmc+Cg==");
  }
}
@media (min-width: 1200px) {
  .stats__header {
    grid-template-columns: auto;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
    padding-right: 0;
  }
}

.stats__legend {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
}
@media (min-width: 1200px) {
  .stats__legend {
    line-height: 27px;
  }
}

.stats__legend_top {
  color: rgba(0, 0, 0, 0.3);
  text-align: left;
}
@media (max-width: 767px) {
  .stats__legend_top {
    display: none;
  }
}
@media (min-width: 768px) {
  .stats__legend_top {
    display: block;
  }
}

.stats__legend_bottom {
  display: block;
  color: rgba(255, 255, 255, 0.3);
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .stats__legend_bottom {
    display: none;
  }
}

.stats__slogan {
  text-align: center;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  padding-bottom: 13px;
  width: 280px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .stats__slogan {
    margin-bottom: 17px;
    text-align: left;
    text-transform: none;
    font-size: 40px;
    line-height: 40px;
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .stats__slogan {
    margin-bottom: 38px;
  }
}

.stats__intro {
  display: flex;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #000000;
  padding-left: 20px;
  padding-right: 20px;
}
@media (max-width: 767px) {
  .stats__intro br {
    display: none;
  }
}
@media (min-width: 768px) {
  .stats__intro {
    padding-left: 34px;
    text-align: left;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  .stats__intro {
    padding-left: 0;
    margin-bottom: 35px;
  }
}

.stats__list {
  margin: 0;
  margin-bottom: 20px;
  background-color: #353535;
}
@media (min-width: 768px) {
  .stats__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .stats__list {
    margin: 0;
  }
}

.stats__item {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
@media (min-width: 768px) {
  .stats__item {
    display: block;
    padding-top: 25px;
    padding-left: 34px;
    padding-right: 34px;
    padding-bottom: 30px;
  }
}

.stats__item:nth-child(1) {
  background: rgba(255, 255, 255, 0.05);
}

.stats__item:nth-child(2) {
  background: rgba(255, 255, 255, 0.12);
}

.stats__item:nth-child(4) {
  background: rgba(255, 255, 255, 0.12);
}
@media (min-width: 768px) {
  .stats__item:nth-child(4) {
    background: rgba(255, 255, 255, 0.05);
  }
}

.stats__number {
  display: flex;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  vertical-align: middle;
}
@media (min-width: 768px) {
  .stats__number {
    font-size: 68px;
    line-height: 72px;
    margin-bottom: 12px;
  }
}
.stats__number sup {
  position: static;
  font-size: inherit;
  vertical-align: baseline;
  margin-left: 5px;
}

.stats__description {
  display: flex;
  text-align: right;
  word-wrap: break-word;
  margin-left: auto;
}
@media (min-width: 768px) {
  .stats__description {
    margin-left: auto;
    font-size: 20px;
    line-height: 20px;
  }
  .stats__description br {
    display: none;
  }
}

.advantages::after {
  display: block;
  content: "";
  height: 35px;
  width: 100%;
  background-color: #292929;
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
          clip-path: polygon(50% 100%, 0 0, 100% 0);
}
@media (min-width: 768px) {
  .advantages::after {
    background-color: #353535;
  }
}

.advantages__wrapper {
  background-color: #292929;
  color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 13px;
}
@media (max-height: 767px) {
  .advantages__wrapper {
    min-height: 280px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .advantages__wrapper {
    background-color: #353535;
    padding: 0 64px;
    padding-bottom: 20px;
  }
}
@media (min-width: 1200px) {
  .advantages__wrapper {
    padding: 0 120px;
    padding-bottom: 70px;
    padding-top: 77px;
  }
}

.advantages__list {
  position: relative;
  display: flex;
  list-style: none;
}
@media (min-width: 768px) {
  .advantages__list {
    flex-direction: column;
    width: calc(100% - 36px);
  }
}
@media (min-width: 1200px) {
  .advantages__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 90px;
    width: 100%;
  }
}

.advantages__item {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  width: 280px;
  border: none;
  margin: 0 auto;
  padding-top: 125px;
  padding-bottom: 30px;
}
@media (max-width: 767px) {
  .advantages__item {
    min-height: 305px;
  }
}
@media (min-width: 768px) {
  .advantages__item {
    flex-direction: column;
    width: calc(100% - 160px);
    text-align: left;
    padding-top: 43px;
    padding-bottom: 37px;
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  .advantages__item {
    width: auto;
    text-align: center;
    padding-top: 130px;
    padding-left: 43px;
    padding-right: 43px;
    padding-bottom: 0;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .advantages__item:not(:first-child):after {
    content: "";
    position: absolute;
    top: 0;
    left: -125px;
    right: 0;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
  }
}
@media (min-width: 1200px) {
  .advantages__item:not(:first-child):after {
    display: none;
  }
}

@media (min-width: 1200px) {
  .advantages__item:nth-child(2n) {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (min-width: 1200px) and (min-width: 1200px) {
  .advantages__item:not(:last-child) {
    border-right: 1px solid rgba(255, 255, 255, 0.1);
  }
}
.advantages__item--fast::before {
  position: absolute;
  content: url("../../images/advantages/advantage-1-icon.svg");
  height: 95px;
  width: 95px;
}

.advantages__item--cool::before {
  position: absolute;
  content: url("../../images/advantages/advantage-2-icon.svg");
  height: 95px;
  width: 95px;
}

.advantages__item--price::before {
  position: absolute;
  content: url("../../images/advantages/advantage-3-icon.svg");
  height: 95px;
  width: 95px;
}

.advantages__item::before {
  position: absolute;
  top: 10px;
  left: 50%;
  margin-left: -47px;
}
@media (min-width: 768px) {
  .advantages__item::before {
    margin-left: 0;
    top: 45px;
    left: -130px;
  }
}
@media (min-width: 1200px) {
  .advantages__item::before {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.advantages__title {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 12px;
}
@media (min-width: 1200px) {
  .advantages__title {
    margin-bottom: 16px;
  }
}

.advantages__description {
  display: block;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  word-wrap: break-word;
}
@media (min-width: 768px) and (max-width: 768px) {
  .advantages__description {
    min-width: 441px;
  }
}

@media (min-width: 768px) {
  .advantages__toggles {
    display: none;
  }
}

.reviews__wrapper {
  position: relative;
  padding: 35px 20px 18px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .reviews__wrapper {
    padding: 0 64px;
    padding-top: 47px;
    padding-bottom: 71px;
  }
}
@media (min-width: 1200px) {
  .reviews__wrapper {
    padding: 0 120px;
    padding-top: 47px;
    padding-bottom: 92px;
  }
}

.reviews__list {
  position: relative;
  display: flex;
  margin-bottom: 28px;
}
@media (min-width: 768px) {
  .reviews__list {
    width: calc(100% - 100px);
    border: 1px solid #E5DDD5;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .reviews__list {
    width: calc(100% - 142px);
  }
}

.reviews__item {
  display: flex;
  justify-content: space-between;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  padding-top: 28px;
}
@media (min-width: 768px) {
  .reviews__item {
    padding: 30px 55px 35px 30px;
  }
}
@media (min-width: 1200px) {
  .reviews__item {
    padding: 0;
  }
}

.reviews__author-image {
  display: flex;
}
@media (max-width: 767px) {
  .reviews__author-image {
    width: 50px;
    height: 50px;
    margin-top: 10px;
  }
}
@media (min-width: 768px) {
  .reviews__author-image {
    margin-top: 5px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
}
@media (min-width: 1200px) {
  .reviews__author-image {
    width: 249px;
    height: 160px;
    border-radius: 0;
    margin-top: 0;
  }
}

.reviews__author-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
}
@media (min-width: 768px) {
  .reviews__author-info {
    margin-left: 30px;
  }
}
@media (min-width: 1200px) {
  .reviews__author-info {
    padding: 30px 80px 35px 71px;
    margin-left: 0;
  }
}

.reviews__author-title {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 27px;
  margin-bottom: 9px;
}

.reviews__title {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
@media (min-width: 768px) {
  .reviews__title {
    font-size: 40px;
    text-align: left;
    margin-bottom: 48px;
  }
}

@media (min-width: 768px) {
  .reviews__toggles {
    width: 150px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #f8f5f2;
    transform: translateY(-5px);
  }
}
@media (min-width: 1200px) {
  .reviews__toggles {
    transform: translateY(42px);
  }
}

.reviews__toggles .slider__toggle {
  background-color: transparent;
  border: 1px solid #353535;
}
.reviews__toggles .slider__toggle_current {
  background-color: #353535;
  border: 1px solid #353535;
}

.reviews__write {
  position: absolute;
  top: 37px;
  right: 64px;
}
@media (max-width: 767px) {
  .reviews__write {
    display: none;
  }
}
@media (min-width: 1200px) {
  .reviews__write {
    right: 120px;
  }
}

.appointment__wrapper {
  position: relative;
  padding: 35px 20px 39px 20px;
}
@media (min-width: 768px) {
  .appointment__wrapper {
    padding: 53px 64px 76px;
  }
}
@media (min-width: 1200px) {
  .appointment__wrapper {
    padding: 53px 120px 87px;
  }
}

.appointment__title {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
}
@media (min-width: 768px) {
  .appointment__title {
    font-size: 40px;
    line-height: 52px;
    -moz-text-align-last: left;
         text-align-last: left;
  }
}

.appointment__to-home {
  position: absolute;
}
@media (max-width: 767px) {
  .appointment__to-home {
    display: none;
  }
}
@media (min-width: 768px) {
  .appointment__to-home {
    right: 64px;
    top: 52px;
  }
}
@media (min-width: 1200px) {
  .appointment__to-home {
    right: 120px;
    top: 53px;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  padding-bottom: 37px;
  border: none;
  gap: 32px;
}
@media (min-width: 768px) {
  .contact {
    gap: 35px;
    padding-bottom: 55px;
  }
}

.form__field {
  display: block;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  height: 50px;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #E5DDD5;
  outline: none;
  padding: 19px 25px;
}
.form__field:focus {
  outline: 4px solid rgba(0, 125, 250, 0.6);
  z-index: 99;
}
.form__field:hover {
  border: 1px solid #D5C9BD;
}
.form__field:active {
  outline: none;
  border: 1px solid #999999;
}
@media (min-width: 768px) {
  .form__field {
    font-size: 24px;
    line-height: 30px;
    height: 70px;
  }
}

.form__field::-moz-placeholder {
  display: block;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.form__field::placeholder {
  display: block;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}
@media (min-width: 768px) {
  .form__field::-moz-placeholder {
    font-size: 24px;
    line-height: 31px;
  }
  .form__field::placeholder {
    font-size: 24px;
    line-height: 31px;
  }
}

.field-additional-information {
  resize: none;
}

/*Блоки форм*/
.contact__name {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
@media (min-width: 768px) {
  .contact__name {
    flex-direction: row;
    gap: 0;
  }
}
@media (min-width: 1200px) {
  .contact__name {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 38px;
  }
}

.contact__contacts {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
@media (min-width: 768px) {
  .contact__contacts {
    gap: 35px;
  }
}
@media (min-width: 1200px) {
  .contact__contacts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 38px;
  }
}

.field-additional-information {
  display: block;
  width: 100%;
  min-height: 112px;
  background: #FFFFFF;
  border: 1px solid #E5DDD5;
  color: #000000;
}
@media (min-width: 768px) {
  .field-additional-information {
    min-height: 211px;
  }
}

/*Фильтр модели бороды*/
.filter-haircut {
  border: none;
}
@media (min-width: 768px) {
  .filter-haircut {
    border-top: 1px solid #E5DDD5;
  }
}

.filter-haircut__wrapper {
  margin: 0 auto;
  padding-top: 36px;
  padding-bottom: 43px;
}
@media (min-width: 768px) {
  .filter-haircut__wrapper {
    padding-bottom: 55px;
  }
}
@media (min-width: 768px) {
  .filter-haircut__wrapper {
    padding-top: 45px;
    padding-bottom: 65px;
  }
}

.filter-haircut__title {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
}
@media (min-width: 768px) {
  .filter-haircut__title {
    font-size: 30px;
    line-height: 39px;
    padding-left: 28px;
    padding-right: 28px;
  }
}

.filter-haircut__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
}
@media (min-width: 768px) {
  .filter-haircut__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}

.filter-haircut__item {
  margin: 0 auto;
  height: 180px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 40px;
  text-align: center;
  word-break: break-all;
}

.control {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.control__input[type=radio] + .control__mark {
  position: relative;
  width: 52px;
  height: 52px;
  background: #FFFFFF;
  border: 1px solid #E5DDD5;
  border-radius: 50%;
  margin-bottom: 15px;
}
.control__input[type=radio] + .control__mark:focus {
  outline: 4px solid rgba(0, 125, 250, 0.6);
}
.control__input[type=radio] + .control__mark:hover {
  border: 1px solid #D5C9BD;
}
.control__input[type=radio] + .control__mark:active {
  background: #D5C9BD;
}

.control__input[type=radio]:checked + .control__mark::before {
  content: "";
  position: absolute;
  top: 25px;
  left: 25px;
  height: 18px;
  width: 18px;
  transform: translate(-50%, -50%);
  background-color: #826550;
  border-radius: 50%;
}

.control__label {
  display: flex;
  flex-wrap: wrap;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  word-wrap: break-word;
  margin-bottom: 18px;
}
@media (min-width: 768px) {
  .control__label {
    font-size: 24px;
    line-height: 31px;
  }
}

/*Дополнительные услуги*/
.services {
  border: none;
}
@media (min-width: 768px) {
  .services {
    border-top: 1px solid #E5DDD5;
  }
}

.services__wrapper {
  padding-top: 35px;
  padding-bottom: 45px;
}
@media (min-width: 768px) {
  .services__wrapper {
    padding: 60px 0;
  }
}
@media (min-width: 1200px) {
  .services__wrapper {
    padding-top: 70px;
    padding-bottom: 80px;
  }
}

.services__title {
  display: block;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
}
@media (min-width: 768px) {
  .services__title {
    font-size: 30px;
    line-height: 39px;
    padding: 0 28px;
  }
}

.services__list {
  display: grid;
  row-gap: 20px;
  list-style: none;
}
@media (min-width: 768px) {
  .services__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 45px 95px;
  }
}
@media (min-width: 1200px) {
  .services__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

.services_control {
  display: flex;
  text-align: left;
}
.services_control .control__label {
  align-items: center;
  margin-bottom: 0;
}

.control__input[type=checkbox] + .control__mark {
  display: flex;
  position: relative;
  min-width: 36px;
  height: 36px;
  background-color: #fff;
  border: 1px solid #E5DDD5;
  margin-right: 25px;
}
.control__input[type=checkbox] + .control__mark:focus {
  outline: 4px solid rgba(0, 125, 250, 0.6);
}
.control__input[type=checkbox] + .control__mark:hover {
  border: 1px solid #D5C9BD;
}
.control__input[type=checkbox] + .control__mark:active {
  background: #D5C9BD;
}

.control__input[type=checkbox]:checked + .control__mark::before {
  position: absolute;
  top: 18px;
  left: 18px;
  transform: translate(-50%, -50%);
  content: url("./../../images/ui-icons/arrow.svg");
}

.appointment__submit {
  color: #fff;
  background-color: #826550;
}
.appointment__submit:hover, .appointment__submit:focus {
  background-color: #6A4D38;
}
.appointment__submit:active {
  background-color: #6A4D38;
}
.appointment__submit:active span {
  color: rgba(255, 255, 255, 0.3);
}
@media (min-width: 768px) {
  .appointment__submit {
    font-size: 24px;
    line-height: 31px;
    width: 100%;
    height: 70px;
  }
}

.page-footer {
  display: block;
  background-color: #292929;
  color: #fff;
  text-align: center;
}
@media (max-width: 767px) {
  .page-footer::before {
    content: "";
    position: relative;
    display: block;
    top: 0;
    height: 34px;
    width: 100%;
    background-color: #f8f5f2;
    -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
            clip-path: polygon(50% 100%, 0 0, 100% 0);
  }
}

.page-footer__wrapper {
  padding: 33px 20px 24px 20px;
}
@media (min-width: 768px) {
  .page-footer__wrapper {
    display: grid;
    grid-template-columns: 2fr 160px;
    row-gap: 45px;
    padding: 51px 64px 60px 64px;
  }
}
@media (min-width: 1200px) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 51px 120px 60px 120px;
  }
}

.page-footer__contacts {
  text-align: center;
}
@media (min-width: 768px) {
  .page-footer__contacts {
    text-align: left;
  }
}
.contacts__title {
  display: block;
  margin-bottom: 9px;
}
@media (min-width: 768px) {
  .contacts__title {
    margin-bottom: 15px;
    text-transform: uppercase;
  }
}

.contacts__text {
  display: block;
  font-size: 18px;
  line-height: 27px;
}

.contacts__phone {
  display: block;
  color: #fff;
  text-decoration: none;
}
@media (max-width: 767px) {
  .contacts__phone {
    padding-top: 12px;
    padding-bottom: 12px;
    border: 1px solid #4A4A4A;
    margin-top: 17px;
  }
  .contacts__phone:hover, .contacts__phone:focus {
    border: 1px solid #777777;
  }
  .contacts__phone:active {
    border: 1px solid transparent;
    background-color: #252525;
  }
}

@media (max-width: 767px) {
  .phone__tel {
    display: none;
  }
}

.page-footer__social {
  margin-top: 25px;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .page-footer__social {
    grid-column: 1/3;
    margin: 0;
    order: 3;
  }
}
@media (min-width: 1200px) {
  .page-footer__social {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 86px;
    transform: translateX(-75px);
    order: 2;
  }
}

.social__title {
  display: none;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}
@media (min-width: 1200px) {
  .social__title {
    display: block;
  }
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}
@media (min-width: 1200px) {
  .social__list {
    width: 180px;
  }
}

.social__item {
  flex-grow: 1;
  height: 100px;
  border: 1px solid #4A4A4A;
}
@media (min-width: 1200px) {
  .social__item {
    width: 50px;
    height: 50px;
    flex-grow: 0;
  }
}
.social__item:hover, .social__item:focus {
  border: 1px solid #777777;
}
.social__item:active {
  border: 1px solid transparent;
  background-color: #252525;
}
.social__item:active .social__link {
  opacity: 0.3;
}

.social__link {
  position: relative;
  display: block;
  width: 100%;
  height: 100px;
}
@media (min-width: 1200px) {
  .social__link {
    background-size: contain;
    height: 50px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.social__link--instagram {
  background-image: url("../../images/social-icon/instagram-icon.png");
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 1200px) {
  .social__link--instagram {
    background-size: 19px;
  }
}

.social__link--facebook {
  background-image: url("../../images/social-icon/fb-icon.png");
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 1200px) {
  .social__link--facebook {
    background-size: 10px 21px;
  }
}

.social__link--vkontakte {
  background-image: url("../../images/social-icon/vk-icon.png");
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 1200px) {
  .social__link--vkontakte {
    background-size: 15px 17px;
  }
}

.page-footer__copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 1200px) {
  .page-footer__copyright {
    order: 3;
  }
}

.copyright__text {
  display: block;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.copyright__link {
  display: block;
  min-width: 160px;
  color: #fff;
  text-decoration: none;
  border: 1px solid #4A4A4A;
  padding: 12px;
}

.news__wrapper {
  position: relative;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  padding: 35px 20px 30px;
}
@media (max-width: 767px) {
  .news__wrapper::after {
    position: absolute;
    bottom: 0;
    content: "";
    height: 1px;
    width: calc(100% - 40px);
    background-color: #E5DDD5;
  }
}
@media (min-width: 768px) {
  .news__wrapper {
    border-bottom: 1px solid #E5DDD5;
    padding: 51px 64px;
    padding-bottom: 35px;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .news__wrapper {
    padding: 0 120px;
    padding-top: 64px;
    padding-bottom: 40px;
  }
}

.news__title {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .news__title {
    font-size: 40px;
    text-align: left;
    margin-bottom: 58px;
  }
}

.news__list {
  list-style: none;
  position: relative;
}
@media (min-width: 768px) {
  .news__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 45px;
  }
}
@media (min-width: 1200px) {
  .news__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 56px;
  }
}

.news__item {
  position: relative;
  color: #000;
  display: flex;
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .news__item {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .news__item + .news__item::before {
    position: absolute;
    top: -18px;
    content: "";
    height: 1px;
    width: 100%;
    background-color: #E5DDD5;
  }
}

.news__item_hidden {
  display: none;
}
@media (min-width: 1200px) {
  .news__item_hidden {
    display: flex;
  }
}

.news__link {
  color: #000000;
  display: flex;
  text-decoration: none;
}
.news__link:hover, .news__link:focus {
  text-decoration: underline;
  color: #826550;
  outline: none;
}
.news__link:hover .news__date,
.news__link:hover .news__date::after, .news__link:focus .news__date,
.news__link:focus .news__date::after {
  background-color: #826550;
}
.news__link:active {
  color: #6A4D38;
}
.news__link:active .news__date,
.news__link:active .news__date::after {
  background-color: #6A4D38;
}
.news__link:active b,
.news__link:active span {
  opacity: 0.3;
}

.news__text {
  display: flex;
  margin-left: 20px;
}

.news__date {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  color: #fff;
  text-decoration: none;
  background-color: #000000;
  padding: 10px;
  padding-bottom: 0;
  margin-top: 7px;
}
.news__date b {
  display: flex;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  margin-bottom: -5px;
}
.news__date span {
  display: flex;
  line-height: 22px;
  font-size: 15px;
}

.news__date::after {
  position: absolute;
  content: "";
  top: 50px;
  height: 10px;
  width: 50px;
  background-color: #000000;
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
          clip-path: polygon(50% 100%, 0 0, 100% 0);
}

@media (min-width: 768px) {
  .news__to-all {
    position: absolute;
    top: 42px;
    right: 64px;
  }
}
@media (min-width: 1200px) {
  .news__to-all {
    top: 54px;
    right: 120px;
  }
}

.price {
  position: relative;
  padding-top: 35px;
  color: #fff;
  background-color: #353535;
}
@media (min-width: 1200px) {
  .price {
    padding-top: 0;
  }
}

.price::after {
  content: "";
  position: absolute;
  bottom: -34px;
  height: 34px;
  width: 100%;
  background-color: #353535;
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
          clip-path: polygon(50% 100%, 0 0, 100% 0);
  z-index: 1;
  overflow-x: hidden;
}

.price__wrapper {
  padding: 40px 20px 20px;
}
@media (min-width: 768px) {
  .price__wrapper {
    padding: 50px 64px 56px;
  }
}
@media (min-width: 1200px) {
  .price__wrapper {
    display: grid;
    justify-content: space-between;
    -moz-column-gap: 60px;
         column-gap: 60px;
    padding: 77px 120px 56px;
  }
}

.price__title {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .price__title {
    font-size: 40px;
    text-align: left;
    margin-bottom: 53px;
  }
}
@media (min-width: 1200px) {
  .price__title {
    margin-bottom: 60px;
  }
}

.price__list {
  list-style: none;
  width: 100%;
  margin-bottom: 40px;
}

.price__item {
  display: flex;
}
.price__item:not(:last-child) {
  margin-bottom: 13px;
}

.price__item-name {
  display: block;
  text-align: left;
  width: 70%;
}

.price__item-cost {
  display: block;
  text-align: right;
  width: 30%;
}

@media (min-width: 1200px) {
  .announcement__wrapper {
    width: 270px;
    grid-column: 3/4;
  }
}

.announcement {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  width: 100%;
  border: 1px solid #4A4A4A;
  padding: 15px;
}
@media (min-width: 768px) {
  .announcement {
    width: 100%;
    min-height: 113px;
  }
  .announcement img {
    position: absolute;
    left: 20px;
    display: flex;
    align-items: center;
    width: 72px;
    height: 72px;
  }
}
@media (min-width: 1200px) {
  .announcement {
    flex-direction: column;
    min-height: 100%;
    padding: 30px;
  }
  .announcement img {
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    width: 142px;
    height: 139px;
  }
}

.announcement__discount {
  display: flex;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #FFF;
}
@media (min-width: 768px) {
  .announcement__discount {
    display: block;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 95px;
  }
  .announcement__discount br {
    display: none;
  }
}
@media (min-width: 1200px) {
  .announcement__discount {
    position: absolute;
    bottom: 29px;
    display: block;
    font-size: 20px;
    font-weight: 400;
    text-transform: none;
    text-align: center;
    margin: 0;
  }
  .announcement__discount br {
    display: inline;
  }
}

/* Для планшетной и компьютерной верссии используется прейскурант в виде таблицы, список содержание скрывается, появляется таблица */
@media (min-width: 768px) {
  .price__list {
    display: none;
  }
}
@media (max-width: 767px) {
  .price__table {
    display: none;
  }
}
.price__table {
  color: #FFF;
  text-align: left;
  font-size: 20px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  line-height: 27px;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
}
.price__table td, .price__table th {
  padding: 0 20px;
  border: 1px solid #4A4A4A;
  word-wrap: break-word;
}
@media (min-width: 1200px) {
  .price__table {
    grid-column: 1/3;
    margin-bottom: 0;
  }
}

.table__row-number {
  text-align: center;
  width: 72px;
  height: 56px;
  border: 1px solid #4A4A4A;
  opacity: 0.3000000119;
}

.table__row-service-name {
  color: #FFF;
  font-size: 20px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-weight: 700;
  line-height: 27px;
}

.table__row-info {
  min-width: 160px;
}

.table__row-cost {
  min-width: 160px;
}

.works {
  position: relative;
}
.works::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -34px;
  width: 100%;
  height: 34px;
  background-color: #f8f5f2;
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
          clip-path: polygon(50% 100%, 0 0, 100% 0);
  z-index: 5;
  overflow-x: hidden;
}
@media (min-width: 1200px) {
  .works::after {
    display: none;
  }
}

.works__wrapper {
  padding: 32px 20px;
}
@media (min-width: 768px) {
  .works__wrapper {
    padding: 64px 64px 68px;
  }
}
@media (min-width: 1200px) {
  .works__wrapper {
    padding: 64px 120px 90px;
  }
}

@media (max-width: 767px) {
  .works__to-home {
    display: none;
  }
}
@media (min-width: 768px) {
  .works__to-home {
    position: absolute;
    top: 54px;
    right: 64px;
  }
}
@media (min-width: 1200px) {
  .works__to-home {
    right: 120px;
  }
}

.works__title {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .works__title {
    font-size: 40px;
    line-height: 30px;
    text-align: left;
    margin-bottom: 50px;
  }
}
@media (min-width: 1200px) {
  .works__title {
    margin-bottom: 90px;
  }
}

.works__list {
  list-style: none;
  width: 280px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .works__list {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .works__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 40px;
  }
  .works__list .works__item:first-child {
    width: 100%;
  }
  .works__list .works__item:not(:first-child) {
    width: 294px;
  }
}

.works__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  border: 1px solid #E5DDD5;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .works__item {
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
  .works__item {
    margin-bottom: 0;
  }
  .works__item:not(:first-child) {
    flex-direction: column;
  }
}
.works__item img {
  display: block;
}
@media (max-width: 767px) {
  .works__item img {
    width: 278px;
  }
}
@media (min-width: 1200px) {
  .works__item img:not(.works__item:first-child img) {
    width: 293px;
  }
}

/*Задаю высоту для контента элементов списка планшетной и компьютерной версии*/
@media (min-width: 768px) {
  .works__item:first-child .works__content {
    min-height: 480px;
  }
  .works__content:not(:first-child) {
    width: 100%;
    min-height: 294px;
    height: 100%;
  }
}
@media (min-width: 1200px) {
  .works__item:first-child .works__content {
    padding-top: 135px;
    padding-left: 42px;
  }
}
/*Лейбл "Работа месяца"*/
.works__best-work {
  display: flex;
  align-items: center;
  position: absolute;
  top: 401px;
  width: 176px;
  height: 50px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #FFFFFF;
  padding-left: 20px;
  background-image: url("../../images/another-icons/label.svg");
}
@media (min-width: 768px) {
  .works__best-work {
    top: 35px;
    left: -2px;
  }
}
@media (min-width: 1200px) {
  .works__best-work {
    top: 26px;
    left: auto;
    right: 0;
    padding-left: 35px;
    background-image: url("../../images/another-icons/label-rotate(180deg).svg");
  }
}

.works__item:last-child {
  margin-bottom: 0;
}

.works__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 24px;
  padding-right: 41px;
  padding-bottom: 26px;
  padding-left: 23px;
}
@media (min-width: 768px) {
  .works__content {
    padding: 50px;
  }
}
@media (min-width: 1200px) {
  .works__content {
    padding: 34px 35px 40px;
  }
}

.content__author-name {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 27px;
  margin-bottom: 26px;
}
@media (min-width: 768px) {
  .content__author-name {
    margin-bottom: 38px;
  }
}

.content__reviews {
  display: block;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 30px;
  word-break: break-word;
}

.content__tags {
  position: relative;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  -moz-column-gap: 36px;
       column-gap: 36px;
  row-gap: 25px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
}

.tags__item {
  display: flex;
  align-items: center;
  height: 30px;
}

.tags__item_haircut::before {
  align-items: center;
  margin-top: 7px;
  content: url("../../images/tags-icons/scissors-icon.svg");
  margin-right: 15px;
}

.tags__item_shaving::before {
  align-items: center;
  margin-top: 6px;
  content: url("../../images/tags-icons/beard-icon.svg");
  margin-right: 15px;
}

.tags__item_mustache::before {
  align-items: center;
  content: url("../../images/tags-icons/mustache-icon.svg");
  transform: translateX(-25%);
}

.tags__item_beard::before {
  align-items: center;
  margin-top: 6px;
  content: url("../../images/tags-icons/beard-icon.svg");
  margin-right: 15px;
}/*# sourceMappingURL=style.css.map */